body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   10pt;
  line-height: 1.6em;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

h1 {
  line-height: 1.2em;
}

ul {
  padding-left: 12px;
}

#header {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #000;
}

#header h1 {
  color: #fff;
  padding: 10px;
  margin: 0px;
}

#heading {
  width: 100%;
  border-bottom: 1px solid #999 ;
}

#menu {
  padding: 4px;
  padding-left: 10px;
  list-style: none;
  color: #fff;
}

#menu a {
  color: #fff;
  text-decoration: none;
}

#code_navigation {
  background-color: #ccf;
  width: 500px;
  float: right;
  display: block;
  padding: 15px;
  margin-left: 10px;
}

#search {
  padding: 10px;
}

#code_navigation ul {
  list-style: none;
  padding-left: 5px;
}

#code_navigation ul li .code {
  clear: right;
  float: left;
  padding-right: 10px;
  display: inline;
}

#code_navigation ul li .label {
  display: inline;
}

#content {
  display: block;
  padding: 10px;
}

#content p, #nav, #references, .search_result {
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  margin-left: 5%;
  width: 600px;
}

#content h1 {
  margin-left: 1%;
}

#content h2 {
  margin-left: 2%;
}

#content h3 {
  margin-left: 3%;
}

#content p.author {
  font-style: italic;
  font-size: 0.90em;
}

#content ul.images-with-description {
  list-style:none;
  margin:0;
  margin-left: 3%;
}

#content li.images-with-description {
  margin-bottom: 30px;
}

#content ul.images-with-description li p {
  padding-left:16.75em;
}
#content ul.images-with-description li img {
  float:left;
  border: 0;
  padding: 0;
  margin:0;
  margin-top:0.417em;
}

#references li {
  padding-bottom: 1.3em;
}

.search_result {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc ;
}

.search_result dd {
  padding: 0;
  margin: 0;
}


