  <h2>Velkommen til præsentation af BIS kode systemet</h2>
  <ul id="nav">
    <li><a href="#purpose">Systemets formål</a></li>
    <li><a href="#contributers">Parterne bag denne side</a></li>
    <li><a href="#history">Systemets historie</a></li>
    <li><a href="#principles">Systemets angrebsvinkler</a></li>
  </ul>
  <h2 id="purpose">Systemets formål</h2>
  <p>BIS kode systemets klassifikationskoder eller numre er udviklet, for at byggeriets generelt anvendelige og projektspecifikke viden, informationer og data kan søges og findes. BIS Byggeteknikernes Index Service har siden efteråret 1970 serviceret hos arkitekter og ingeniører ved at klassificere byggeriets produktinformation og gjort den tilgængelig i tegnestuernes samlinger af producenters og forhandleres originale produktinformation samt på deres websites på Internettet.</p>

  <h2>Parterne bag denne side</h2>
  <ul id="contributers" class="images-with-description">
  <li class="images-with-description">
      <img src="/images/BIS.jpg" alt="Byggeteknikernes Index Service logo">
  <p><a href="http://www.lisesbibliotek.dk/">BIS</a> – BIS kode systemet er udarbejdet iggennem en årrække af Byggeteknikernes Index Service v/Lise Borup, som har udviklet metoder til produktregistrering siden 1970.</p>
  </li>
  <li class="images-with-description">
      <img src="/images/3dbyggeri_logo.jpg" alt="3dbyggeri danmark logo">
  <p><a href="http://www.3dbyggeri.dk/">3dbyggeri danmark</a> har siden indførslen af ”Det Digitale Byggeri” arbejdet med at skabe effektive og direkte brugbare løsninger, som knytter byggematerialeproducenter og rådgivere tættere sammen.</p>
  <p>3dbyggeri danmark har stået for it-arkitekturen og teknikken bag denne præsentation.</p>
  </li>
  </ul>

  <h2 id="history">Systemets historie</h2>
  <p class="author">- af Lise Borup, Byggeteknikernes Index Service</p>
  <p>Før 1970 har jeg i årrækken 1960-1970 ved hjælp af SfB systemet klassificeret produktinformation i en række ansættelser hos ingeniører, arkitekter og på daværende Ingeniørakademi. Mit arbejde i byggeriet begyndte dog allerede i august 1951, hvor jeg kom i lære som teknisk tegner hos Stadsingeniørens Vejafdeling  i Københavns kommune. Grundlaget for oprettelsen af BIS i 1970 var således baseret på erfaringerne med en personligt udviklet fortolkning af SfB systemet. I 1983 publiceredes imidlertid min artikkel 'Opgør med SfB systemet' i tidsskriftet 'Arkitekten', efterfulgt af en årrække med klassifikationsforsøg og -eksperimenter. Denne udvikling skete på grundlag af personlige kontakter med danske Bjørn Bindslev samt nøglepersoner i det internationale ISO standardiseringsarbejde ifm ISO 12006-2 og EPIC projektet for European Product Information, hvor jeg takkes for min indsats i begge systemets udgaver fra 1994 og 1999. Amerikanerne har efterfølgende baseret tabellen for 'building products' i OmniClass systemet fra 2006 på en tilrettet udgave af EPIC.
    Omkring 1992-93 fungerede jeg som Lyttepost for koordineringsudvalget til fremme af byggeriets edb-anvendelse ved at afrapportere de internationale udviklinger af byggeriets informationsløsninger.</p>
    <p>I perioden 1995 til 2002 deltog jeg bl.a. i initiativet 'Klassifikation i Byggeriet', hvor jeg udarbejdede en oversigt over, hvad der system- og klassifikationsmæssigt 'lå på bordet' i Danmark og internationalt.</p>
    <p>I perioden 1996 til 2005 deltog jeg i det tværfaglige initiativ Lykeion - en interessentforening optaget af en generelt anvendelig begrebslære og -apparat til brug i edb-systemerne - dvs interessenter som inkluderede sprogfolk, bibliotekarer, IT-specialister, læger, ingeniører, arkitekter, statistikere mv.</p>

    <p>I 2003 skrev jeg 'Notat om objektorienteret klassifikation i byggeriet', og denne afklarende erkendelse resulterede efterfølgende i nye klassifikationsprojekter - herunder præsentationen af BISLIS i vinteren 2006, hvor jeg trak mine systemforslag tilbage, da amerikanerne præsenterede deres 15 OmniClass tabeller i marts 2006.</p>

    <p>I eftersommeren 2007 - i forbindelse med eget projekt for en Internetvejviser - skete en afklaring af de grundlæggende klassifikationsprincipper, som umiddelbart derefter resulterede i BIS kode 1 systemet samt en forestilling om, hvad en sammenhængende helhed af klassifikationstabeller skulle handle om.</p>

    <p>I oktober 2007 begyndte et samarbejde med 3 friske fyre i 3dbyggeri om udviklingen af www.digitaleprodukter.dk som omtalt i afsnit 1.
      I september 2008 afholdtes en ISO workshop i Stockholm om at udvikle muligheder for at mappe mellem 'objekterne' i computersystemerne og ISO 12006-2 byggeriets internationale klassifikationsstandard. Mit arbejde med klassifikation havde den ære at komme på den officielle dagsorden, idet Lars Häggström  præsenterede indlægget med titlen 'Comments on ISO 12006-2' inkl. en kortfattet præsentation af BIS kode systemet.</p> 


      <h2 id="principles">Systemets angrebsvinkler</h2>
      <p class="author">- af Lise Borup, Byggeteknikernes Index Service</p>
      <p>BIS kode systemet er principielt set baseret på ISO 12006-2. BIS kode systemet er et objektidentificerende klassifikationssystem for byggeriet - baseret på et solidt teoretisk og praktisk grundlag. I a BIS kode systemet - redegørelse er der i Appendix 2 'BIS kode systemets generelle klassifikationsprincipper' en meget kortfattet redegjort for den ekstensionale og intensionale klasselogik samt for del-helhed relationerne.</p>

      <p>De centrale tabeller i BIS kode systemet præsenterer en begrebsmæssigt sammenhængende model set som et model-klassifikationssystem for de infrastrukturelle anlæg, bygninger, rum og disses dele, konstruktioner og materialer.</p>

      <p>Den centrale model eller BIM er illustreret gennem brugen af tal/numre i kodesystemet og deres kompositioner eller kombinationer.</p>

      <p>BIS kode systemet udgør en meget fleksibel struktur til håndtering af generelt anvendelige objekter og projektspecifikke objekter - en fleksibilitet i forhold til en ukendt fremtid med ukendte detaljeringsbehov i systemet.</p>

      <p>Notationerne af BIS koderne identificerer automatisk koderne fra de forskellige tabeller.</p>

      <p>Principperne for brugen af numre i BIS koderne gør dem simple og 'huskbare' (med gode mnemotekniske kvaliteter) på alle de øverste niveauer af tabellerne.</p>