<h1>Søgeresultat</h1>
<p>Der blev søgt på <strong>"<%= params[:q] %>"</strong></p>
<div id="result_list">
  <% @bis_codes.each do |code| %>
  <dl class="search_result">
    <dt><%= code.full_code %></dt>
    <dd><%= link_to "#{code.label}", code %></dd>
  </dl>
  <% end %>
</div>
